apiVersion: management.loft.sh/v1
kind: Project
metadata:
  name: team-alpha
  namespace: loft-p-team-alpha
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  displayName: team-alpha
  owner:
    user: admin
  allowedClusters:
    - name: "*"
  allowedTemplates:
    - name: "*"
  members:
    - user: admin
      clusterRole: loft-management-project-admin

---

apiVersion: management.loft.sh/v1
kind: VirtualClusterInstance
metadata:
  generateName: vcluster-
  name: vcluster-01
  namespace: loft-p-team-alpha
spec:
  template:
    helmRelease:
      chart:
        version: 0.31.0
      values: |
        sync:
          toHost:
            ingresses:
              enabled: true

        controlPlane:
          coredns:
            enabled: true
            embedded: true
    pro:
      enabled: true
  clusterRef:
    cluster: loft-cluster
  owner:
    user: admin
  displayName: vcluster-01