apiVersion: management.loft.sh/v1
kind: VirtualClusterInstance
metadata:
  generateName: vcluster-
  name: vcluster-01
spec:
  template:
    helmRelease:
      chart:
        version: 0.31.0
      values: |
        sync:
          toHost:
            ingresses:
              enabled: true

        controlPlane:
          coredns:
            enabled: true
            embedded: true
    pro:
      enabled: true
  clusterRef:
    cluster: loft-cluster
  owner:
    user: admin
  displayName: vcluster-01