---
apiVersion: management.loft.sh/v1
kind: Team
metadata:
  name: acme-team
spec:
  displayName: acme-team
  owner:
    user: admin
  access:
    - verbs:
        - "*"
      subresources:
        - "*"
      users:
        - admin
    - name: vcluster-platform-access
      verbs:
        - get
        - bind
      subresources:
        - clusters
      teams:
        - acme-team

---
kind: Project
apiVersion: management.loft.sh/v1
metadata:
  name: acme-team-project
spec:
  displayName: acme-team-project
  owner:
    user: admin
  quotas: {}
  allowedClusters:
    - name: "*"
  allowedTemplates:
    - kind: VirtualClusterTemplate
      group: storage.loft.sh
      name: "*"
    - kind: SpaceTemplate
      group: storage.loft.sh
      name: "*"
  members:
    - kind: Team
      group: storage.loft.sh
      name: acme-team
      clusterRole: loft-management-project-admin
  access:
    - name: vcluster-platform-admin-access
      verbs:
        - get
        - update
        - patch
        - delete
      subresources:
        - "*"
      users:
        - admin
      teams:
        - acme-team

---

apiVersion: management.loft.sh/v1
kind: VirtualClusterInstance
metadata:
name: dev-vcluster
namespace: loft-p-team-alpha
annotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
clusterRef:
  cluster: my-host-cluster
external: false
owner:
  user: admin
template:
  helmRelease:
    chart:
      version: 0.31.0
    values: |
      controlPlane:
        backingStore:
          etcd:
            deploy:
              enabled: true