apiVersion: storage.loft.sh/v1
kind: VirtualClusterInstance
metadata:
name: dev-vcluster
namespace: loft-p-team-alpha
annotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
clusterRef:
  cluster: my-host-cluster
external: false
owner:
  user: admin
template:
  helmRelease:
    chart:
      version: 0.31.0
    values: |
      controlPlane:
        backingStore:
          etcd:
            deploy:
              enabled: true